.download-button {
  position: absolute;
  top: 35px;
  right: 10px;
  z-index: 3;
}

.download-dropdown-menu {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
.download-dropdown-menu li:hover {
  background-color: #f5f5f5;
}
.download-dropdown-menu a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}
