.detail-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.mc3d-title-header {
  background-color: rgb(250, 1, 1);
  border: 1px solid #d6d6d6;
}

.detail-page-inner > * {
  width: 950px;
  background-color: rgb(245, 245, 245);
  border: 1px solid #d6d6d6;
  border-radius: 0px;
  padding: 5px;
  margin: 10px;
}
