.section-heading {
  font-size: 24px;
  margin: 10px 0px;
  padding: 20px 0px 10px;
  border-bottom: 1px solid #c4c4c4;
}

.section-container {
  border-radius: 5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidepane {
  position: sticky; /* sticks when scrolling */
  top: 1rem; /* distance from top when in 'scroll state'*/
  margin-top: 11px; /* distance from top when at top */
  height: max-content;
}

/* Disable sticky on smaller screens */
@media (max-width: 1199.98px) {
  /* matches Bootstrap xl breakpoint */
  .sidepane {
    position: static;
    margin-top: 0;
    padding-top: 5px;
  }
}

.detail-page-heading {
  font-size: 24px;
  font-weight: 500;
}

.detail-page-subheading {
  font-size: 16px;
  font-weight: 400;
  padding-left: 5px;
  padding-bottom: 5px;
}

.subsection-title {
  font-weight: bold;
  padding: 5px;
}

.subsection-shadow {
  box-shadow: 0 2px 6px 2px rgb(0 0 0 / 0.15);
}

ul.no-bullets {
  list-style-type: none;
  padding: 4px;
  margin: 2px 5px 0px 10px;
}

ul.no-bullets li {
  margin: 5px 0px 2px;
}
