.info-section-inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-bottom: 5px;
  position: relative;
}

.structure-view-section {
  position: relative;
}

.info-box {
  height: 450px;
  width: 450px;
  /* background: rgb(240, 240, 240); */
  text-align: left;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 10px;
  /* margin: 5px; */
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0px 10px 20px;
}

ul.no-bullets li {
  margin: 10px 0px;
}

.source-a {
  color: #303f9f;
  text-decoration: none;
}

.source-a:hover {
  filter: brightness(80%);
  text-decoration: underline;
}

.download-button-container {
  position: absolute;
  top: 40px;
  right: 10px;
  z-index: 3;
}
