.info-section-inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-bottom: 5px;
  position: relative;
}

.structure-view-section {
  position: relative;
}

.info-box {
  height: 450px;
  width: 450px;
  background: rgb(250, 250, 250);
  text-align: left;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 10px;
  /* margin: 5px; */
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0px 10px 20px;
}

ul.no-bullets li {
  margin: 10px 0px;
}
