.description {
  padding: 20px 40px;
}

/* overload boostrap tab style */
.nav-tabs .nav-link {
  border-top: 1px solid #ddd !important;
  border-left: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
  /* color: #0000cd; */
  color: #3366cc;
}
.nav-tabs .nav-link:hover {
  background-color: rgb(245, 245, 245);
  color: black;
}

.nav-tabs .nav-link.active {
  border-top: 1px solid #999 !important;
  border-left: 1px solid #999 !important;
  border-right: 1px solid #999 !important;
  /* border-bottom: 1px solid #999 !important; */
}

/* we override the bootstrap default */
.container-xxl {
  background-color: white;
  padding: 1.5em;
  margin-bottom: 2em;

  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
}

/* another bootstrap override... */
@media (min-width: 1400px) {
  .container-xxl {
    max-width: 1400px !important;
  }
}
