.overview-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-bottom: 5px;
  position: relative;
}

.structure-view-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
}

.subsection-title-container {
  margin: 2px 0px 6px 0px;
}

.download-button-container {
  position: absolute;
  top: 40px;
  right: 10px;
  z-index: 3;
}
