.title-and-logo {
  width: 950px;
  /* text-align: left; */
  font-size: 24px;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mc3d-logo {
  height: 70px;
  float: right;
  vertical-align: middle;
  padding: 2px;
}
