.mcloud-home-container {

  .tagline-container {

    overflow: visible;
    width: 100%;
    padding: 30px;
    font-size: 18px;
    line-height: 30px;
    //font-weight: 300;

    .logo {
      padding: 10px;
      vertical-align: middle;
      text-align: center;
      margin-top: 15px;
    }

    .logo img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
    }

    .tagline {
      padding: 0px 10px;
    }

  }

  .tab-list-menu {

    margin-top: 50px;
    margin-bottom: 50px;

    .tab-title {

      li {
        border-bottom: 1px solid #ccc;

        a {
          text-align: center;
        }
      }

      li.active {
        border: solid 1px;
        border-color: #ccc #ccc transparent;

        a {
          color: #ff2828;
        }
      }

      .tab-icon {
        font-size: 30px;
      }
    }

    .tab-content {

      margin-top: 35px;

      h2 {
        margin-left: 15px;
      }

      .tab-pane {
        cursor: inherit;
      }

      #news .post {
          border-bottom: 1px solid;
          margin-bottom: 20px;
          .post-title {
            display: inline-block;
            margin-right: 10px;
            h3 {
              margin-top: 0px;
            }
          }
          .post-date {
            font-style: italic;
          }
          .post-content {}

      }

      .contributor-entry {
        width: 100%;
        min-height: 100px;
        padding: 5px;
        margin-bottom: 10px;
      }

      .contributor-logo {
        float: left;
        width: 140px;
        height: 70px;
        position: relative;
        vertical-align: middle;
        text-align: center;
      }

      .contributor-logo img {
        max-width: 100%;
        max-height:100%;
      }

      .contributor-details {
        overflow: hidden;
        zoom: 1;
        padding-left: 20px;
        height: 100%;
      }

      #home_overview li {
        margin-bottom: 5px;
      }

      table.contribute td {
          vertical-align: middle;
      }

      table.contribute ol {
          margin-bottom: 0px;
      }

      table.contribute td.section {
          font-family: 'Roboto', sans-serif;
            //font-weight: normal;
  font-size: 22px;
  color: #1565C0;
      }

    }
  }
}
