
// override variables
@import 'variables';
@import "home";
@import "page";
@import "breadcrumb";
@import "section_menu";
@import "section";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@mixin box-shadow($style) {
  -webkit-box-shadow: $style;
  -moz-box-shadow: $style;
  box-shadow: $style
}

// ---- Typography

body {
  color: #222;
  font-weight: 400;
}

h1 {
  font-size: 40px;
  //font-weight: 300;
  color: #0D47A1;
}

h2 {
  font-size: 32px;
  //font-weight: 300;
  color: #0D47A1;
}

h3 {
  //font-weight: normal;
  font-size: 22px;
  color: #1565C0;
}

h4 {
  //font-weight: normal;
  font-size: 16px;
  color: #1565C0;
}

h5 {
  font-weight: 700;
  font-size: 14px;
  color: #1565C0;
}

b, strong, th {
  font-weight: 700;
}

pre, code, .numbers-font-family {
  //font-family: 'Droid Sans Mono', monospace;
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  color: #455860;
  background: #f0f3f3;
}

a {
  cursor: pointer;
}

blockquote {
  border-left: 3px solid #D7DFE2;
}

p, ul, li {
  font-size: 16px;
  font-weight: 400;
}

// ---- Jumbotron

.jumbotron p {
  line-height: 2.2;
}

// ---- Navs

.dropdown-menu {
  @include box-shadow(none);
}

.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
  background: transparent;
}

// ---- Navbar

.navbar {
  border-bottom: 3px solid #DEE6E6;
  margin-bottom: 0px !important;
  min-height: 65px;
}

.navbar-brand {
  padding: 15px 15px;
  //font-weight: 600;
}

.navbar-brand img {
  margin-top: -8px;
  margin-left: 5px;
  height: 50px;
}

.navbar-nav > li > a {
  font-weight: $font-weight-bold;
  line-height: 32px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.navbar-right > li > a {
  padding-left: 5px;
}

.navbar-nav > li > .dropdown-menu {
  min-width: 200px;
  margin-top: -8px;
  padding: 10px 0;
  border-radius: 6px;
  border: 2px solid #DEE6E6;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a > span{
  color: #cc1b30 !important;
}

.navbar .nav > li > .dropdown-menu:before {
  position: absolute;
  top: -9px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #DEE6E6;
  border-left: 7px solid transparent;
  content: '';
}

.navbar .nav > li > .dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-menu > li > a:hover {
  background: #F9F9F9;
}

.dropdown-menu .divider {
  background-color: rgba(221, 221, 221, 0.84);
}

// ---- Buttons

.btn {
  letter-spacing: 1px;
  font-weight: $font-weight-bold;
  border-radius: 3px;
  text-transform: uppercase;
}

.btn-padding {
  padding: 8px 18px;
}

.btn-default:hover {
  color: #839094;
}

// ---- Forms

.help-block {
  color: #738185;
}

// ---- Labels

.label {
  padding: 4px 6px 2px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

// ---- Panels

.wrapper {
  width: 65%;
}
@media (max-width: 992px) {
  .wrapper {
    width: 100%;
  }
}

.panel {
  border-width: 3px;
  @include box-shadow(none);
}

.panel-heading {
  color: #455860;
  font-weight: $font-weight-bold;
  border-width: 3px;
  border-radius: 0;
}

.panel-info {
  padding: 0px;
  border: 0;
  border-radius: 3px;
  background-color: #1565C0;
}
.panel-title > a, .panel-title > a:active {
  display: block;
  padding: 5px;
  padding-left: 15px;
  padding-right: 10px;
  color: white !important;
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: 2.5px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #1565C0;
}
.panel-info a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: white;
  transition: all 0.5s;
}
.panel-info.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  color: black;
}
.panel-group .panel + .panel {
  margin-top: 0;
}

// ---- Progress Bars

.progress {
  @include box-shadow(none);
}

// ---- Well

.well {
  background: $white;
  border-color: #F0F3F3;
  border-width: 3px;
  @include box-shadow(none);
}

// ---- Alert
.alert {
  padding: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  border: 0px;
  text-align: center;
}

// ----- no top margin for header
.page-header {
  margin-top:0;
  margin-bottom: 40px;
  position: relative;
}

.header-title {
  display: inline-block;
}

.header-image {
  float: right;
  width: 110px;
  height: 90px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header-image img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.dropdown-select {
  width: 320px;
  display: inline-block;
  height: 35px;

  select {
    width: 100%;
    height: 100%;
    background-color: white;
  }

  option {
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
  }
}

.mcloud-header a {
  font-weight: 700 !important;
}

.more-menu a {
  font-weight: 400 !important;
}

/* Loading spinner */
.spinner-div {
  position: relative;
  height: 10em;

  .spinner-icon {
    position: absolute;
    z-index: 999;
    height: 8em;
    width: 8em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.breadcrumb {
  a, span {
    font-size: 16px !important;
  }
}

// added for materials design
div:focus, li:focus {
  outline: none;
  border: 0;
}

.md-button.mdicon-btn {
  height: 6rem;
  width: 6rem;

  right: 10px !important;

  .mdicon-img {
    height: 85%;
    width: 85%;
  }
}

.tooltip-multiline {
  height: auto;
  font-size: 14px !important;
}

// tab view from explore and discover- 2d structure
.view-menu-container {
  border-bottom: 1px solid rgba(221, 221, 221, 0.89);

  .view-nav {
    position: relative;
    top: 1px;
    margin-top: -5px;
  }
  .view-nav::before {
    display: table;
    content: "";
  }

  .view-nav::after {
    clear: both;
    content: "";
    display: table;
  }

  .view-nav-item {
    border: solid transparent;
    border-width: 3px 1px 1px;
    border-radius: 3px 3px 0 0;
    float: left;
    padding: 7px 15px 8px;
    color: #586069;
    white-space: nowrap;
  }

  .view-nav-item.selected {
    background-color: #fff;
    color: #24292e;
    border-color: #e36209 #ccc transparent;
  }

  .view-nav-item .view-icon {
    color: rgba(27,31,35,0.3);
  }

  .view-icon {
    vertical-align: text-top;
    display: inline-block;
    fill: currentColor;
    margin-right: 2px;
  }

}

.page-icon {
  position: relative;
  height: 180px;
  width: 180px;
  margin: 10px auto;
}

.page-icon img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.cc-deny {
  color: black !important;
  background-color: #d41d00 !important;
  border-color: transparent !important;
  min-width: 140px; }

.archive-doicitation {
  color: #333;
  font-size: 100%;
  margin-bottom: 9px;
  margin-top: 0px;

  h4 {
    display: inline-block;
    margin-right: 5px;
  }

  span.doi-badge {
    white-space: nowrap;
    display: inline-block !important;
  }

  span.doi-left {
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #fff;
    background-color: #343a40;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: $font-weight-bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    display: inline-block !important;
  }

  a.doi-right {
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #212529;
    background-color: #A2CBFF;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: $font-weight-bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
  }

  a.doi-right[href]:focus, a.doi-right[href]:hover {
    color: #212529;
    text-decoration: none;
    background-color: rgb(192, 219, 255);
  }
}

/* Overlay dive to add message on visualizer */
.overlay-div {
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  display: table;
  top: 0px;
  left: 0px;
  text-align: center;
  vertical-align: middle;
  -moz-user-select: none;
  cursor: pointer;
  user-select: none;
  background-color: #a2a2a252;

  span {
    color: rgb(80, 80, 80);
    font-size: 24px;
    font-weight: $font-weight-bold;
    background-color: rgba(255, 255, 255, 0.01);
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
    -moz-user-select: none;
  }
}

.shadow-box-help {
  text-align: center;
  margin-left: 10px;
  width: 100%;
}

// hide cookie button used to re-open the consent message
.cc-revoke { display: none }